@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-display {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
